.back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/download/back.png');
    background-size:cover;
}

.modi{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/download/modi.png');
    background-size:cover;
}

